<div class="container" id="desafio-div">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Desafios</h2>
            <h3 class="section-subheading text-muted">Confira e cadastre novos desafios.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Round Icons</h4>
                <p class="text-muted">Graphic Design</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Startup Framework</h4>
                <p class="text-muted">Website Design</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Treehouse</h4>
                <p class="text-muted">Website Design</p>
            </div>
        </div>
        <!--
        <div class="col-lg-12 text-center">
            <a href="#desafio-form" class="page-scroll btn btn-info">Cadastre um desafio</a>                    
        </div>
        -->
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cadastre seu Desafio</h2>
            <h3 class="section-subheading text-muted">Preencha o formulário abaixo para cadastrar um desafio.</h3>
        </div>
    </div>
    <div class="row" id="desafio-form">
        <div class="col-lg-12">
            <form name="desafioForm" id="desafioForm" ng-submit="postDesafio()" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error' : desafioForm.nome.$invalid && desafioForm.nome.$dirty, 'has-success': desafioForm.nome.$valid}">
                            <input type="text" class="form-control" placeholder="Nome" id="nome" name="nome" ng-model="nome"
                            ng-focus="clean()" required>
                            <p class="help-block" ng-show="desafioForm.nome.$invalid && desafioForm.nome.$dirty">Nome é obrigatório</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : desafioForm.email.$invalid && desafioForm.email.$dirty, 'has-success': desafioForm.email.$valid}">
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email" ng-model="email" required>
                            <p class="help-block" ng-show="participanteForm.email.$error.required && participanteForm.email.$dirty">Email é obrigatório</p>
                            <p class="help-block" ng-show="participanteForm.email.$error.email && participanteForm.email.$dirty">Email é inválido</p>
                        </div>
                        <!-- ^(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})$ -->
                        <div class="form-group" ng-class="{'has-error' : desafioForm.telefone.$invalid && desafioForm.telefone.$dirty, 'has-success': desafioForm.telefone.$valid}">
                            <input type="tel" class="form-control" placeholder="Telefone" id="telefone" name="telefone" 
                            ng-model="telefone" required>
                            <p class="help-block" ng-show="desafioForm.telefone.$invalid && desafioForm.telefone.$dirty">Telefone é obrigatório</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error' : desafioForm.desafio.$invalid && desafioForm.desafio.$dirty, 'has-success': desafioForm.desafio.$valid}">
                            <textarea class="form-control" placeholder="Desafio" id="desafio" name="desafio" ng-model="desafio" required></textarea>
                            <p class="help-block" ng-show="desafioForm.desafio.$invalid && desafioForm.desafio.$dirty">Desafio é obrigatório</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success" class="alert alert-success" ng-show="mensagemSucesso">{{mensagemSucesso}}</div>
                        <div id="error" class="alert alert-danger" ng-show="mensagemErro">{{mensagemErro}}</div>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>