<div class="container" id="desafio-page">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Desafios</h2>
            <h3 class="section-subheading text-muted">Confira e cadastre novos desafios.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Round Icons</h4>
                <p class="text-muted">Graphic Design</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Startup Framework</h4>
                <p class="text-muted">Website Design</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Treehouse</h4>
                <p class="text-muted">Website Design</p>
            </div>
        </div>
        <!--
        <div class="col-lg-12 text-center">
            <a href="#desafio-form" class="page-scroll btn btn-info">Cadastre um desafio</a>                    
        </div>
        -->
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cadastre seu Desafio</h2>
            <h3 class="section-subheading text-muted">Preencha o formulário abaixo para cadastrar um desafio.</h3>
        </div>
    </div>
    <div class="row" id="desafio-form">
        <div class="col-lg-12">
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Por favor, preencha o seu nome.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Por favor, preencha com seu email.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Telefone" id="phone" required data-validation-required-message="Por favor, preencha com o seu telefone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Desafio" id="message" required data-validation-required-message="Descreva seu desafio."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>