<!-- public/views/home.html -->
<div class="container-fluid">
    <div class="row" id="home-view">
        <div class="col-md-12">
            <div class="intro-text">
              <div class="intro-lead-in">Seja Bem Vindo!</div>
              <div class="intro-heading">Internet das Coisas</div>
              <div class="col-md-offset-3 col-md-6 col-md-offset-3 text-left">
                  <blockquote ng-repeat="feed in feedsDestaque | limitTo: 1">
                    <p>{{feed.texto}}</p>
                    <footer>{{feed.usuario.nome}}</cite></footer>
                  </blockquote>
              </div>
            </div>
        </div>
    </div>
</div>