<!-- public/views/home.html -->
<div class="container-fluid">
    <div class="row" id="home-view">
        <div class="col-md-12">
            <div class="intro-text">
              <div class="intro-lead-in">Seja Bem Vindo!</div>
              <div class="intro-heading">Internet das Coisas</div>
              <!-- <a href="#services" class="page-scroll btn btn-xl">Saiba mais</a> -->

              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
              <p>teste</p> 
            </div>
        </div>
    </div>
</div>