<!-- public/views/nerd.html -->
<div class="row" id="iot">
    <div class="row text-center">
        <div class="col-md-5">
            <img src="img/iot/iot.png" class="img-responsive">
        </div>
        <div class="col-md-7 iot-img" >
            <h4 class="service-heading iot-h4">O QUE É INTERNET DAS COISAS?</h4>
            <p class="iot-p">Internet das Coisas é o termo que designa a mais recente das revoluções tecnológicas. Esta tendência tornará objetos do nosso dia a dia cada vez mais inteligentes e integrados pela aplicação de sensores e nanotecnologia.</p>
        </div>
    </div>
</div>
