<div class="container" id="login-div">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-12">
								<a href="#" id="loginForm-link" class="active">Login</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form name="loginForm" id="loginForm" role="form" ng-submit="doLogin()" novalidate>
									<!-- <pre>loginForm.username.$invalid {{loginForm.username.$invalid}}<br>loginForm.username.$dirty {{loginForm.username.$dirty}}<br>loginForm.password.$error {{loginForm.password.$error}}
									</pre> -->
									<p class="alert alert-danger" ng-show="mensagemLogin">{{ mensagemLogin }}</p>
 									<div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid && loginForm.username.$dirty, 'has-success': loginForm.username.$valid}">
										<input type="email" name="username" id="username" tabindex="1" class="form-control" placeholder="Email" value="" ng-model="username" required>
										<p class="help-block" ng-show="loginForm.username.$invalid && loginForm.username.$dirty">Usuário é obrigatório</p>
									</div>
									<div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Senha" ng-model="password" required>
										<p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">Senha é obrigatória</p>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember" ng-model="rememberme">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="loginSubmit" id="loginSubmit" tabindex="4" class="form-control btn btn-success" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>