        <div class="container-fluid">
            <div class="row" id="perfil-div">

                <!-- ###### Perfil ###### -->
                <div class=" col-md-2" id="perfil-div" ng-show="usuario">
                    <div class="card hovercard">
                        <div class="cardheader">

                        </div>
                        <div class="avatar">
                            <img alt="" src="img/perfil/user-profile.png">
                        </div>
                        <div class="info" id="userInfo" ng-hide="isEditingUser">
                            <div class="title" id="perfil-nome">
                                {{usuario.nome}}
                            </div>
                            <div class="desc" id="perfil-email">{{usuario.email}}</div>
                            <input type="button" value="editar" class="btn btn-primary btn-sm" ng-click="isEditingUser = !isEditingUser" >
                        </div>
                        <!--
                        <div>
                            <button type="button" class="btn btn-primary btn-sm">editar</button>
                        </div>
                        -->
                        <div id="userInfoEdit" ng-show="isEditingUser">
                            <form id       =  "uploadForm"
                                 enctype   =  "multipart/form-data"
                                 action    =  "/api/photo"
                                 method    =  "post"
                            >
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control input-sm" placeholder="Nome" id="nome" name="nome" ng-model="usuario.nome" required>
                                <label for="email">Email</label>
                                <input type="text" class="form-control input-sm" id="email" name="email" ng-model="usuario.email" readonly >
                            </div>
                            <div class="form-group">
                                <label for="nome">Telefone</label>
                                <input type="text" class="form-control input-sm" placeholder="Telefone" id="telefone" name="telefone" ng-model="usuario.telefone" required>
                            </div>
                            <input type="file" name="userPhoto" />
                            <input type="submit" value="Upload Image" name="submit" class="btn btn-primary btn-sm">
                            </form>
                        </div>
                    </div>

                </div>
                <!-- ###### fim perfil ####### -->

                <!-- <div class="col-md-4" ng-hide="true"></div> -->
                    <div id="feed-div" class="col-md-10" >
                         <div class="panel panel-primary">
                            <!--
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp; Comentários
                            </div>
                            -->
                            <div class="panel-footer" ng-show="usuario">
                                <form id="formFeed" name="formFeed" novalidate>
                                <div class="input-group">
                                    <input id="btn-input" type="text" ng-model="textoComentario" class="form-control" placeholder="Digite seu comentário aqui..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="btn-chat" ng-click="enviaComentario()" >enviar</button>
                                    </span>
                                </div>
                                </form>
                            </div>
                            <div class="panel-body panel-body-feed">
                                <ul class="chat">
                                    <li class="clearfix" ng-repeat="feed in feeds">
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{ feed.usuario.nome }}</strong> <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>{{ feed.data | date: 'dd/MM/yyyy HH:mm'}}</small>
                                            </div>
                                            <p>{{feed.texto}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            
                        </div>
                    </div>
                </div>

        </div>
