<h2 class="sub-header">Detalhe do Participante (Usuário)</h2>
<div row>
    <!-- <h3>Informações do Desafio</h3> -->
    <!-- <pre>{{participante}}</pre> -->
    <div class="col-md-6">
      <div class="form-group">
          <label>Nome</label>
          <div class="form-control-static">
              {{ participante.nome }}
          </div>
      </div>
      <div class="form-group">
          <label>Email</label>
          <div class="form-control-static">
              {{ participante.email }}
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <label>Telefone</label>
          <div class="form-control-static">
              {{ participante.telefone }}
          </div>
      </div>
      <div class="form-group"> 
          <label>Role</label>
          <select class="form-control" ng-model="participante.role" ng-options="r.valor as r.nome for r in userRoles" ng-focus="limpaMensagens()">
      </select>
      <div class="form-group"> 
          <label>
              <input type="checkbox" ng-model="participante.ativo" ng-focus="limpaMensagens()"> Ativo
          </label>
      </div>
      <div class="form-group">
          <div id="success" class="alert alert-success" ng-show="mensagemSucesso">{{mensagemSucesso}}</div>
          <div id="error" class="alert alert-danger" ng-show="mensagemErro">{{mensagemErro}}</div>
          <button type="button" class="btn btn-primary" ng-click="salvarUsuario()">Salvar</button>
      </div>
    </div>  
</div>
